#content {
  text-align: center;
  display: flex;
  width: 100%;
  border-top: 1px solid #90caf9;
  padding-bottom: 4rem;
}

#app-container{
  text-align: center;
}

#intent-content-section{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

#selected-intent-section{
  width: 25%;
  overflow: none;
  border-left: 1px solid #90caf9;
}